/*===== VARIABLES =====*/

  /*--------- Colors ---------*/
    $color-primary: #9356DC;
    $color-secondary: #FF79DA;
    $color-tertiary: #99E2D0;
    $color-background: rgb(235, 235, 235);
    $color-btn-gradient: linear-gradient(347deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 62%);
    $color-btn-gradient-reverse: linear-gradient(147deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 62%);
    $color-bg-footer: #222423;
    $color-shadow: rgb(43, 43, 43);

  /*---------- SIZES ----------*/
    $shadow-card-size: 20px;
    $shadow-btn-size: 10px;
    $minmax-big: 21.5rem;
    $minmax-small: 15rem;

/*===== IMPORTATIONS =====*/
@import "./utils/mixins";
@import "./components/components";
@import "./base/reset";
@import "./pages/pageLoader";
@import "./utils/animations";
/*--- Google Fonts ---*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');

/*========== HEADER ==========*/

header{
    padding: .8rem;
    border-bottom: 3px solid rgb(182, 182, 182);
    text-align: center;
}

/*========== ORDER SECTION ==========*/

.order-section{
    text-align: center;

    .location{
        @include flex-center;
        background: lightgray;
        padding: .8rem 0;

        .location-icon{
            margin-right: 1rem;
        }
    }

    .explore-container{
        background: $color-background;
        padding: 2rem 3.5rem;

        h1{
            margin: 1rem;
        }

        p{
            margin-bottom: 1.7rem;
        }
    }
}

/*========== ABOUT SECTION ==========*/

.about-section{
    padding: 1rem;

    h1{
      margin-bottom: 2rem;
    }
    
    .about-card-container{
      padding-left: .5rem;
      @include grid-template;

      .about-card{
        display: flex;
        align-items: center;
        height: 4rem;
        background: $color-background;
        gap: 1rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
        font-weight: bold;
        
        &:hover{
          background: #9256dc1e;
        }

        &:hover .about-icon{
          color: $color-primary;
        }

        .aside-number{
          position: relative;
          left: -.75rem;
          background: $color-primary;
          border-radius: 50%;
          padding: .35rem .65rem;
          color: white;
        }

        .about-icon{
          color: rgb(129, 129, 129);
        }
      }
    }
}

/*========== RESTAURANT SECTION ==========*/

.restaurant-section{
  padding: 3rem 1rem;
  background: $color-background;

  h1{
    margin-bottom: 2rem;
  }

  .restaurants-container{
    @include grid-template;
  }

  .restaurant-card{
    position: relative;

    img{
      height: 150px;
      border-radius: 1rem 1rem 0 0;
    }

    .new{
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: .5rem .8rem;
      border-radius: 2px;
      font-weight: bold;
      background: #99E2D0;
      color: #026e55;
    }

    .card-caption{
      padding: .5rem 1rem;
      line-height: 1.8;
    }

    .checkbox{
      position: absolute;
      right: 1em;
      bottom: 1.75em;
    }

    input[type="checkbox"], .checked{
      position: relative;
      top: -2px;
    }
  }
}

/*========== FOOTER SECTION ==========*/

.footer-section{
  padding: 3rem 1rem;
  background: $color-bg-footer; 
  color: white;
  line-height: 1.9;

  .logo{
    font-family: 'Shrikhand';
    font-size: 1.5rem;
  }

  .fas{
    margin-right: .6em;
  }
}

/*========== PAGES ==========*/

.pages-header{
  display: grid;
  grid-template-columns: repeat(2, 1fr auto);

  .back-link{
    width: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.banner-img{
  height: 40vh;
  width: 100%;
}

.page-main{
  background-color: $color-background;
}

.page-container{
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
  background: $color-background;
  position: relative;
  top: -2rem;
  padding: 2rem 1rem;

  .title{
    @include flex-between;

    h1{
      font-family: 'Shrikhand';
    }
  }
}

.menu-container{
  @include grid-template($minmax-big);
  position: relative;
}

.starters{
  padding: 2rem 0;
  position: relative;
  animation: cascadingAppearance .65s linear; // USE FUNCTIONS AFTER HERE!
   
  &:nth-child(2){
     animation-delay: .15s;
   }

   &:nth-child(3){
     animation-delay: .25s;
    }

  h3{
    font-weight: normal;
    margin-bottom: 2rem;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      width: 11%;
      height: 2px;
      background: $color-tertiary;
      bottom: -4px;
      left: 0;
    }
  }

  .option-menu-item{
    @include boxes-shadow;
    @include flex-between;
    overflow: hidden;

    .card-description{
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 300px;
      padding: 1.2rem;

      .meal-title{
        font-weight: bold;
        margin: 0 0 .5rem 0;
      }

      .meal-description{
        font-size: .8rem;
      }

      .meal-title, .meal-description{
        @include ellipsis;
      }
    }

    .price{
      font-weight: bold;
      align-self: center; //Maybe flex-end
      padding: 1.2rem;
    }

    .magic{
        display: flex;
    }

    input{
        display: none;
    }

    input[type="checkbox"]:checked ~ .magic .check-icon{
        display: inherit;
    }


    .check-icon{
        font-size: 20px;
        display: none;
        position: relative;
        background-color: $color-tertiary;
        color: white;
        padding: 2rem;
        border-radius: 0 1rem 1rem 0;
        animation: checkedItem .2s linear;
  
        .fa-check-circle{
          animation: checkIcon .4s ease-out;
          @include flex-center;
        }
    }
  }
}

.commande{
  width: 100%;
  @include flex-center;

  .btn-cta{
    font-size: 1.125rem;
    display: block;
    align-items: center;
  }
}