/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');

/*===== VARIABLES =====*/

  /*========== Colors ==========*/
    $color-primary: #9356DC;
    $color-secondary: #FF79DA;
    $color-tertiary: #99E2D0;
    $color-btn-gradient: linear-gradient(347deg, rgba(147,86,220,1) 16%, rgba(255,121,218,1) 62%);
    $color-bg-footer: #222423;
    $color-shadow: rgb(43, 43, 43);

    /*========== SIZES ==========*/
    $shadow-card-size: 20px;
    $shadow-btn-size: 10px;

/*===== MIXINS =====*/
@mixin boxes-shadow($colour: $color-shadow, $shadow-size: $shadow-card-size){
  box-shadow: 0 0 $shadow-size $colour;
}


/*========== BASE ==========*/
*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Roboto';
  z-index: 1111;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  height: auto;
}

.ohmyfoodlogo{
    width: 200px;
}

.page-loader{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 999;
  width: 100%;
  height: 100vh;
  animation: pageLoader 3s forwards;

 .ring{
   position: absolute;
   width: 9em;
   height: 9em;
   border-radius: 50%;
   animation: ring 2s linear infinite;

   &::before{
     position: absolute;
     content: "";
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     box-shadow: 0 0 5px rgba(255, 255, 255, 0.459);
     border-radius: 50%;
   }
 }

  span{
    color: white;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-family: 'shrikhand';
    animation: text 2s ease-in-out infinite;
  }

}

@keyframes ring{
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px $color-primary;
  }

  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #9972c9;
  }

  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px $color-secondary;
  }
}

@keyframes text{
  50%{
    color: black;
  }
}

@keyframes pageLoader{
  0%{
    opacity: 1;
  }

  80%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    z-index: -1;
  }
}

/*========== HEADER ==========*/

header{
    padding: .8rem;
    border-bottom: 3px solid rgb(182, 182, 182);
    text-align: center;
}

/*========== ORDER SECTION ==========*/

.order-section{
    text-align: center;

    .location{
        display: flex;
        justify-content: center;
        background: lightgray;
        padding: .8rem 0;

        .location-icon{
            margin-right: 1rem;
        }
    }

    .explore-container{
        background: rgb(235, 235, 235);
        padding: 2rem 3.5rem;

        h1{
            margin: 1rem;
        }

        p{
            margin-bottom: 1.7rem;
        }

        .explore-btn-cta{
            @include boxes-shadow(green, $shadow-btn-size);
            border: none;
            padding: 1em;
            background: $color-primary;
            background: $color-btn-gradient;
            border-radius: 2rem;
            color: white;
            font-weight: bold;
            
            &:hover{
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}

/*========== ABOUT SECTION ==========*/

.about-section{
    padding: 1rem;

    h1{
      margin-bottom: 2rem;
    }
    
    .about-card-container{
      padding-left: .5rem;

      .about-card{
        display: flex;
        height: 4rem;
        background: rgb(235, 235, 235);
        gap: 1rem;
        align-items: center;
        border-radius: 1rem;
        margin-bottom: 2rem;
        font-weight: bold;
        
        &:hover{
          background: #9256dc1e;
        }

        &:hover .about-icon{
          color: $color-primary;
        }

        .aside-number{
          position: relative;
          left: -.75rem;
          background: $color-primary;
          border-radius: 50%;
          padding: .35rem .65rem;
          color: white;
        }

        .about-icon{
          color: rgb(129, 129, 129);
        }
      }
    }
}

/*========== RESTAURANT SECTION ==========*/

.restaurant-section{
  padding: 3rem 1rem;
  background: rgb(235, 235, 235);

  h1{
    margin-bottom: 2rem;
  }

  .restaurant-card{
    @include boxes-shadow;
    margin-bottom: 2rem;
    border-radius: 1rem;
    position: relative;

    img{
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }

    .new{
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: .5rem .8rem;
      border-radius: 2px;
      font-weight: bold;
      background: #99E2D0;
      color: #026e55;
    }

    .card-caption{
      padding: .5rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card-description{
        line-height: 1.8;
      }
    
      .checkbox{
        cursor: pointer;
      }

      input[type="checkbox"]{
        display: none;
      }

      input[type="checkbox"], .checked{
        display: none;
      }

      input[type="checkbox"]:checked ~ .checked{
        color: rgb(129, 34, 105);
        display: inherit;
      }

      input[type="checkbox"]:checked ~ .unchecked{
        display: none;
      }
    }
  }
}

/*========== FOOTER SECTION ==========*/

.footer-section{
  padding: 3rem 1rem;
  background: $color-bg-footer; 
  color: white;
  line-height: 1.9;

  .logo{
    font-family: 'Shrikhand';
    font-size: 1.5rem;
  }
}

/*========== PAGES ==========*/

header{
  display: flex;
  align-items: center;
  justify-content: center;

  i{
    position: relative;
    left: -100px;
  }
}

.page-main{
  background-color: rgb(240, 240, 240);
}

.hero-bg{
  background: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg') no-repeat;
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.menu-container{
  border-radius: 2rem 2rem 0 0;
  background: rgb(240, 240, 240);
  position: relative;
  top: -2rem;
  padding: 2rem 1rem;

  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
      font-family: 'Shrikhand';
    }

    .checkbox{
      cursor: pointer;
    }

    input[type="checkbox"]{
      display: none;
    }

    input[type="checkbox"], .checked{
      display: none;
    }

    input[type="checkbox"]:checked ~ .checked{
      color: rgb(129, 34, 105);
      display: inherit;
    }

    input[type="checkbox"]:checked ~ .unchecked{
      display: none;
    }
  }
}

.starters{
  padding: 2rem 0;

  h3{
    font-weight: normal;
    margin-bottom: 2rem;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      width: 11%;
      height: 2px;
      background: $color-tertiary;
      bottom: -4px;
      left: 0;
    }
  }

  .menu-item-card{
    @include boxes-shadow;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    cursor: pointer;
    overflow: hidden;

    &:hover .check-icon{
      display: flex;
      justify-content: center;
      align-items: center; 
    }

    .card-description{
        overflow: hidden;
        width: 400px;
        padding: 1.5rem;

        h4{
          margin: 0 0 .5rem 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        p{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
    }

    .price{
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      margin-left: 29px;
      position: relative;
      animation: checkedItem 1s ease-in-out;
    }

    .check-icon{
      font-size: 20px;
      display: none;
      position: relative;
      //right: -85px;
      background-color: $color-tertiary;
      color: white;
      padding: 2rem;
      border-radius: 0 1rem 1rem 0;
      animation: checkedItem 1s linear;

      .fa-check-circle{
        animation: checkIcon 1s ease-in-out;
      }
    }
  }

}

@keyframes checkedItem{
  0%{
    right: -85px;
  }

  100%{
    right: 0;
  }
}

@keyframes checkIcon{
  0%{
    transform: rotate(360deg);
  }

  100%{
    transform: rotate(-360deg);
  }
}

.commande{
  width: 100%;
  display: flex;
  justify-content: center;

  .btn-cta{ //import later
    @include boxes-shadow( $color-shadow, $shadow-btn-size);
    border: none;
    padding: 1em;
    background: $color-primary;
    background: $color-btn-gradient;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    display: block;
    align-items: center;
    font-size: 1.25rem;
  }
}

