/*===== VARIABLES =====*/
/*--------- Colors ---------*/
/*---------- SIZES ----------*/
/*===== IMPORTATIONS =====*/
/*===== MIXINS =====*/
/*--------- STYLES ---------*/
/*--------- LAYOUTS ---------*/
/*===== COMPONENTS =====*/
/*--Buttons--*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
.btn-cta {
  -webkit-box-shadow: 0 0 10px #2b2b2b;
          box-shadow: 0 0 10px #2b2b2b;
  background: linear-gradient(347deg, #9356dc 16%, #ff79da 62%);
  color: white;
  font-weight: bold;
  border: none;
  padding: 1em;
  border-radius: 2rem;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  -webkit-animation: btnAnimation;
          animation: btnAnimation;
}

.btn-cta:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: linear-gradient(137deg, #9356dc 16%, #ff79da 62%);
  -webkit-box-shadow: 0 0 20px #2b2b2b;
          box-shadow: 0 0 20px #2b2b2b;
}

/*--Cards--*/
.card {
  -webkit-box-shadow: 0 0 20px #2b2b2b;
          box-shadow: 0 0 20px #2b2b2b;
  border-radius: 1em;
  margin-bottom: 1.7rem;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}

/*--Checkboxes--*/
.checkbox {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] ~ .checked {
  display: none;
}

input[type="checkbox"]:checked ~ .checked {
  background: -webkit-linear-gradient(347deg, #9356dc 16%, #ff79da 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inherit;
  -webkit-animation: heartAppear .8s ease-in-out;
          animation: heartAppear .8s ease-in-out;
}

input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

/*========== BASE ==========*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: 'Roboto';
  z-index: 1111;
}

.ohmyfoodlogo {
  width: 200px;
}

/*========== RESET ==========*/
h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-loader {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  z-index: 999;
  width: 100%;
  height: 100vh;
  -webkit-animation: pageLoader 5s forwards;
          animation: pageLoader 5s forwards;
}

.page-loader .ring {
  position: absolute;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  -webkit-animation: ring 3s linear infinite;
          animation: ring 3s linear infinite;
}

.page-loader span {
  color: white;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-family: 'shrikhand';
  -webkit-animation: text 2s ease-in-out infinite;
          animation: text 2s ease-in-out infinite;
}

@-webkit-keyframes ring {
  0% {
    -webkit-box-shadow: 1px 5px 2px #9356DC;
            box-shadow: 1px 5px 2px #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 5px 2px #9972c9;
            box-shadow: 1px 5px 2px #9972c9;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 5px 2px #FF79DA;
            box-shadow: 1px 5px 2px #FF79DA;
  }
}

@keyframes ring {
  0% {
    -webkit-box-shadow: 1px 5px 2px #9356DC;
            box-shadow: 1px 5px 2px #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 5px 2px #9972c9;
            box-shadow: 1px 5px 2px #9972c9;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 5px 2px #FF79DA;
            box-shadow: 1px 5px 2px #FF79DA;
  }
}

@-webkit-keyframes text {
  50% {
    color: black;
  }
}

@keyframes text {
  50% {
    color: black;
  }
}

@-webkit-keyframes pageLoader {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes pageLoader {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* ----Hearts-Appearing-animations------*/
@-webkit-keyframes heartAppear {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
  }
}
@keyframes heartAppear {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
  }
}

/* ----Menu-card-Appearing-animations------*/
@-webkit-keyframes cascadingAppearance {
  0% {
    opacity: 0;
    top: -5rem;
    left: -15em;
  }
  80% {
    opacity: .1;
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
  }
}
@keyframes cascadingAppearance {
  0% {
    opacity: 0;
    top: -5rem;
    left: -15em;
  }
  80% {
    opacity: .1;
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
  }
}

/*--- Google Fonts ---*/
/*========== HEADER ==========*/
header {
  padding: .8rem;
  border-bottom: 3px solid #b6b6b6;
  text-align: center;
}

/*========== ORDER SECTION ==========*/
.order-section {
  text-align: center;
}

.order-section .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightgray;
  padding: .8rem 0;
}

.order-section .location .location-icon {
  margin-right: 1rem;
}

.order-section .explore-container {
  background: #ebebeb;
  padding: 2rem 3.5rem;
}

.order-section .explore-container h1 {
  margin: 1rem;
}

.order-section .explore-container p {
  margin-bottom: 1.7rem;
}

/*========== ABOUT SECTION ==========*/
.about-section {
  padding: 1rem;
}

.about-section h1 {
  margin-bottom: 2rem;
}

.about-section .about-card-container {
  padding-left: .5rem;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  /* -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit]; */
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.about-section .about-card-container .about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  background: #ebebeb;
  gap: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.about-section .about-card-container .about-card:hover {
  background: #9256dc1e;
}

.about-section .about-card-container .about-card:hover .about-icon {
  color: #9356DC;
}

.about-section .about-card-container .about-card .aside-number {
  position: relative;
  left: -.75rem;
  background: #9356DC;
  border-radius: 50%;
  padding: .35rem .65rem;
  color: white;
}

.about-section .about-card-container .about-card .about-icon {
  color: #818181;
}

/*========== RESTAURANT SECTION ==========*/
.restaurant-section {
  padding: 3rem 1rem;
  background: #ebebeb;
}

.restaurant-section h1 {
  margin-bottom: 2rem;
}

.restaurant-section .restaurants-container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  /* -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit]; */
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.restaurant-section .restaurant-card {
  position: relative;
}

.restaurant-section .restaurant-card img {
  height: 150px;
  border-radius: 1rem 1rem 0 0;
}

.restaurant-section .restaurant-card .new {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: .5rem .8rem;
  border-radius: 2px;
  font-weight: bold;
  background: #99E2D0;
  color: #026e55;
}

.restaurant-section .restaurant-card .card-caption {
  padding: .5rem 1rem;
  line-height: 1.8;
}

.restaurant-section .restaurant-card .checkbox {
  position: absolute;
  right: 1em;
  bottom: 1.75em;
}

.restaurant-section .restaurant-card input[type="checkbox"], .restaurant-section .restaurant-card .checked {
  position: relative;
  top: -2px;
}

/*========== FOOTER SECTION ==========*/
.footer-section {
  padding: 3rem 1rem;
  background: #222423;
  color: white;
  line-height: 1.9;
}

.footer-section .logo {
  font-family: 'Shrikhand';
  font-size: 1.5rem;
}

.footer-section .fas {
  margin-right: .6em;
}

/*========== PAGES ==========*/
.pages-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages-header .back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-img {
  height: 40vh;
  width: 100%;
}

.page-main {
  background-color: #ebebeb;
}

.page-container {
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
  background: #ebebeb;
  position: relative;
  top: -2rem;
  padding: 2rem 1rem;
}

.page-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-container .title h1 {
  font-family: 'Shrikhand';
}

.menu-container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  /* -ms-grid-columns: (minmax(21.5rem, 1fr))[auto-fit]; */
      grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
  position: relative;
}

.starters {
  padding: 2rem 0;
  position: relative;
}

.starters h3 {
  font-weight: normal;
  margin-bottom: 2rem;
  position: relative;
}

.starters h3::after {
  content: '';
  position: absolute;
  width: 11%;
  height: 2px;
  background: #99E2D0;
  bottom: -4px;
  left: 0;
}

.starters .option-menu-item {
  -webkit-box-shadow: 0 0 10px #2b2b2b;
          box-shadow: 0 0 10px #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  -webkit-animation: cascadingAppearance .65s linear;
          animation: cascadingAppearance .65s linear;
}

.starters .option-menu-item:nth-of-type(1) {
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s;
}

.starters .option-menu-item:nth-of-type(2) {
  -webkit-animation-delay: 0.26s;
          animation-delay: 0.26s;
}

.starters .option-menu-item:nth-of-type(3) {
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s;
}

.starters .option-menu-item:nth-of-type(4) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.starters .option-menu-item .card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 300px;
  padding: 1.3rem;
}

.starters .option-menu-item .card-description .meal-title {
  font-weight: bold;
  margin: 0 0 .5rem 0;
}

.starters .option-menu-item .card-description .meal-description {
  font-size: .8rem;
}

.starters .option-menu-item .card-description .meal-title, .starters .option-menu-item .card-description .meal-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.starters .option-menu-item .price {
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1.2rem;
}

.starters .option-menu-item .magic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -85px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.starters .option-menu-item .magic .check-icon {
  font-size: 20px;
  position: relative;
  background-color: #99E2D0;
  color: white;
  padding: 2rem;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.starters .option-menu-item .magic .check-icon .fa-check-circle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.starters .option-menu-item input[type="checkbox"] {
  display: none;
}

.starters .option-menu-item input[type="checkbox"]:checked ~ .magic {
  margin-right: 0;
}

.starters .option-menu-item input[type="checkbox"]:checked ~ .magic .fa-check-circle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.commande {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commande .btn-cta {
  font-size: 1.125rem;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */